<h1>SAMPLE CODE FOR EXPERIMENT WITH ALGORITHM PERFORMANCE</h1>

<p>The aim of this small repository is to give an idea of how one might measure the performance of an algorithm. Below is a description of each file and what it might contribute to you.</p>

<h2>timing_example.py</h2>

<p>In the timing_example.py file there are two functions that reverse a list:</p>

<ul>
<li><code>reverse_list_loop</code> which reverses a list (a Python style vector/array) using a for loop</li>
<li><code>reverse_list_comprehension</code> which reverses a list (a Python style vector/array) using a special Python feature called a list comprehension</li>
</ul>

<p>The details of their implementation are unimportant.</p>

<p>The important thing is that this gives one example how they may be compared.</p>

<p>The functions <code>test_reverse_list_approach_loop</code> and <code>test_reverse_list_approach_comprehension</code> just call the functions and throw away the output. They are not really necessary here but in some cases some kind of intermediate test function like this may be necessary.</p>

<p>The function <code>timefunc</code> uses the Python <code>timeit</code> library to time a given function by calling it on given data and using a given timer. It is also provided with the number of times to call this function.</p>

<p>In the main loop, maps (in Python, dicts) are set up containing all the possible:</p>

<ul>
<li>input data (a list of either 1000 strings or 1000 ints).</li>
<li>functions to run on that data (either the <code>test_reverse_list_approach_loop</code> function or the <code>test_reverse_list_approach_comprehension</code> function).</li>
<li>the different timers to run on them (the normal Python time, a process time which tries to ignore time outside of the process, and a performance timer - see the <code>timeit</code> module for more details of these different timers - you would generally only want to use one of these for your project).</li>
</ul>

<p>For each combination of these, the <code>timefunc</code> function is called 100 times. Those 100 times result in 100 performance numbers (times). These are all written to a CSV file called <code>out.csv</code></p>

<h2>out.csv</h2>

<p>This is just the output of <code>timing_example.py</code> after I ran it. You could regenerate this file on your computer by running</p>

<pre><code>python3 timing_example.py
</code></pre>

<h2>out.ods</h2>

<p>This is the result of doing some spreadsheet analysis on <code>out.csv</code>.</p>

<p><code>out.csv</code> is loaded into a spreadsheet workbook and the data is left in the <code>Data</code> worksheet.</p>

<p>The <code>Pivot_Table_Mean</code> and <code>Pivot_Table_StdDev</code> worksheets are the result of using the "Pivot Table" spreadsheet function. You can see some interesting results in those tables. You should try it yourself.</p>

<p><code>Scatter_Plot_Str_ListVsFor</code> and <code>Scatter_Loop_For_StrVsInt</code> are examples of a simple scatter plot comparing the <code>reverse_list_loop</code> and <code>reverse_list_comprehension</code> approaches on strings using the Process Time measure, in the first case, and comparing the effect of int vs string data types with for loops in the second. Obviously there are other analyses that can be done. You should try it yourself.</p>

<h2>timing_example2.py</h2>

<p>A version of <code>timing_example.py</code> where array size is also varied.</p>

<h2>out2.csv</h2>

<p>The output of <code>timing_example2.py</code>.</p>

<h2>out2.ods</h2>

<p>An example of a simple analysis on the data from <code>out2.csv</code>.</p>

<p>An interesting artifact can be observed in the data that is probably due to some system process or Python-internal process. To deal with these systematic artifacts, one approach is to randomise things more (e.g. the order in which conditions are trialed).</p>
